<template>
  <v-row>
    <v-col v-if="mountain" class="text-center">
      <item-details :mountain="mountain" />
    </v-col>
    <v-col v-else class="text-center">
      The mountain was not found
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'nuxt-property-decorator'
import Counter from '~/components/Counter.vue'
import CounterNoClassBased from '~/components/CounterNoClassBased.vue'
import ItemsList from '~/components/ItemsList.vue'
import ItemDetails from '~/components/ItemDetails.vue'

@Component<DetailsPage>({
  components: {
    ItemDetails,
    CounterNoClassBased,
    Counter,
    ItemsList
  }
})
export default class DetailsPage extends Vue {
  mountain: Object | null = null

  async fetch () {
    if (!this.$route.params.slug) {
      return
    }

    const mountains: any[] = await this.$apiClient.getMountains()
    this.mountain = mountains.find(mountain => () => { return mountain.title === this.$route.params.slug })
  }
}
</script>
