<template>
  <div>
    <h1>Mountains({{ count }})</h1>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Prop, Component } from 'nuxt-property-decorator'

@Component<Counter>({
  name: 'Counter'
})
export default class Counter extends Vue {
  @Prop({ type: Number, required: true })
  itemsNumber!: number

  get count (): number {
    return this.itemsNumber ?? 0
  }
}
</script>
