<template>
  <div>
    <h1>Mountains({{ itemsCount() }})</h1>
  </div>
</template>
<script>
import Vue from 'vue'

export default Vue.extend({
  name: 'CounterNoClassBased',
  components: {},
  data () {
    return {
      mountains: []
    }
  },
  async fetch () {
    this.mountains = await fetch(
      'https://api.nuxtjs.dev/mountains'
    ).then(res => res.json())
  },
  methods: {
    itemsCount () {
      return this.mountains.length
    }
  }
})
</script>
