<template>
  <v-card>
    <v-row>
      <h1>{{ mountain.title }}</h1>
    </v-row>
    <v-row>
      {{ mountain.description }}
    </v-row>
    <v-row>
      <v-img :src="mountain.image" />
    </v-row>
  </v-card>
</template>
<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'nuxt-property-decorator'

@Component<ItemDetails>({
  name: 'ItemDetails'
})
export default class ItemDetails extends Vue {
  @Prop({ default: { }, type: Object })
  mountain!: Object
}
</script>
