<template>
  <v-list>
    <v-list-item v-for="mountain in mountains" :key="mountain.title">
      {{ mountain.title }}
    </v-list-item>
  </v-list>
</template>
<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'nuxt-property-decorator'

@Component<ItemsList>({
  name: 'ItemsList'
})
export default class ItemsList extends Vue {
  @Prop({ default: [], type: Array })
  mountains!: Array<any>
}
</script>
