<template>
  <v-row>
    <v-col class="text-center">
      <counter :items-number="mountains.length" />
      <items-list :mountains="mountains" />
      <counter-no-class-based />
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'nuxt-property-decorator'
import Counter from '~/components/Counter.vue'
import CounterNoClassBased from '~/components/CounterNoClassBased.vue'
import ItemsList from '~/components/ItemsList.vue'

@Component<IndexPage>({
  components: {
    CounterNoClassBased,
    Counter,
    ItemsList
  }
})
export default class IndexPage extends Vue {
  // Declared as component data
  mountains : any[] =[]

  async fetch () {
    this.mountains = await this.$apiClient.getMountains()
  }
}
</script>
